<!-- Logout Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="myModalContent">
            <div class="modal-header" style="border-color:#5a5c69">
                <h5 class="modal-title" id="myModalTitle"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"><i class="fas fa-exclamation-triangle"></i> <span id="myModalMessage"></span></div>
            <div class="modal-footer" style="border-color:#5a5c69">
                <a class="btn" href="#" id="myModalOkBtn">@Text.Ok</a>
                <button class="btn" id="myModalCancelBtn" type="button" data-dismiss="modal">@Text.Cancel</button>
            </div>
        </div>
    </div>
</div>